<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tok.Settings2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="tok.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="tok.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <tok.Settings2>
            <setting name="dayOld" serializeAs="String">
                <value />
            </setting>
            <setting name="nightOld" serializeAs="String">
                <value />
            </setting>
            <setting name="dayNew" serializeAs="String">
                <value />
            </setting>
            <setting name="nightNew" serializeAs="String">
                <value />
            </setting>
            <setting name="diffDay" serializeAs="String">
                <value />
            </setting>
            <setting name="diffNight" serializeAs="String">
                <value />
            </setting>
            <setting name="dayPrice" serializeAs="String">
                <value />
            </setting>
            <setting name="nightPrice" serializeAs="String">
                <value />
            </setting>
            <setting name="dayResult" serializeAs="String">
                <value />
            </setting>
            <setting name="nightResult" serializeAs="String">
                <value />
            </setting>
            <setting name="totalSum" serializeAs="String">
                <value />
            </setting>
            <setting name="date" serializeAs="String">
                <value />
            </setting>
        </tok.Settings2>
        <tok.Settings1>
            <setting name="dayOld" serializeAs="String">
                <value />
            </setting>
            <setting name="nightOld" serializeAs="String">
                <value />
            </setting>
            <setting name="dayNew" serializeAs="String">
                <value />
            </setting>
            <setting name="nightNew" serializeAs="String">
                <value />
            </setting>
            <setting name="dayPrice" serializeAs="String">
                <value />
            </setting>
            <setting name="nightPrice" serializeAs="String">
                <value />
            </setting>
            <setting name="diffDay" serializeAs="String">
                <value />
            </setting>
            <setting name="diffNight" serializeAs="String">
                <value />
            </setting>
            <setting name="dayResult" serializeAs="String">
                <value />
            </setting>
            <setting name="nightResult" serializeAs="String">
                <value />
            </setting>
            <setting name="totalSum" serializeAs="String">
                <value />
            </setting>
        </tok.Settings1>
        <tok.Properties.Settings1>
            <setting name="OldDay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OldNght" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DayPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NightPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NewDay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NewNght" serializeAs="String">
                <value>0</value>
            </setting>
        </tok.Properties.Settings1>
    </userSettings>
</configuration>